In [27]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [28]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, year, sum as spark_sum
from pyspark.sql.types import IntegerType, DateType

In [29]:
spark = SparkSession.builder.getOrCreate()

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
df_tabela_15 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2015.csv', header=True, inferSchema=True)
df_tabela_16 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2016.csv', header=True, inferSchema=True)
df_tabela_17 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2017.csv', header=True, inferSchema=True)
df_tabela_18 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2018.csv', header=True, inferSchema=True)
df_tabela_19 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2019.csv', header=True, inferSchema=True)
df_tabela_20 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2020.csv', header=True, inferSchema=True)
df_tabela_21 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2021.csv', header=True, inferSchema=True)
df_tabela_22 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2022.csv', header=True, inferSchema=True)
df_tabela_23 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2023.csv', header=True, inferSchema=True)
df_tabela_24 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2024.csv', header=True, inferSchema=True)
df_tabela_25 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/Dados Gv/tabela_2025.csv', header=True, inferSchema=True)

In [32]:
colunas_para_remover = ["Data", "Chuva (mm)", "Unnamed: 2", "Unnamed: 5", "Unnamed: 8", "Data formato mês"]

In [33]:
df_tabela_15 = df_tabela_15.drop(*colunas_para_remover)
df_tabela_16 = df_tabela_16.drop(*colunas_para_remover)
df_tabela_17 = df_tabela_17.drop(*colunas_para_remover)
df_tabela_18 = df_tabela_18.drop(*colunas_para_remover)
df_tabela_19 = df_tabela_19.drop(*colunas_para_remover)
df_tabela_20 = df_tabela_20.drop(*colunas_para_remover)
df_tabela_21 = df_tabela_21.drop(*colunas_para_remover)
df_tabela_22 = df_tabela_22.drop(*colunas_para_remover)
df_tabela_23 = df_tabela_23.drop(*colunas_para_remover)
df_tabela_24 = df_tabela_24.drop(*colunas_para_remover)
df_tabela_25 = df_tabela_25.drop(*colunas_para_remover)

In [35]:
df_tabela_15.show()

+----------+--------------+----------+------------------+
|  Data dia|Chuva dia (mm)|  Data mês|    Chuva mês (mm)|
+----------+--------------+----------+------------------+
|2015-01-01|           0.0|2015-01-01|               0.0|
|2015-01-02|           0.0|2015-02-01|               0.0|
|2015-01-03|           0.0|2015-03-01|               0.0|
|2015-01-04|           0.0|2015-04-01| 5.000000000000001|
|2015-01-05|           0.0|2015-05-01|106.00000000000001|
|2015-01-06|           0.0|2015-06-01|               9.0|
|2015-01-07|           0.0|2015-07-01|5.6000000000000005|
|2015-01-08|           0.0|2015-08-01|               4.2|
|2015-01-09|           0.0|2015-09-01|               0.4|
|2015-01-10|           0.0|2015-10-01|               3.0|
|2015-01-11|           0.0|2015-11-01|             133.4|
|2015-01-12|           0.0|2015-12-01| 99.00000000000001|
|2015-01-13|           0.0|      NULL|              NULL|
|2015-01-14|           0.0|      NULL|              NULL|
|2015-01-15|           0.0|      NULL|              NULL|
|2015-01-16|           0.0|      NULL|              NULL|
|2015-01-17|           0.0|      NULL|              NULL|
|2015-01-18|           0.0|      NULL|              NULL|
|2015-01-19|           0.0|      NULL|              NULL|
|2015-01-20|           0.0|      NULL|              NULL|
+----------+--------------+----------+------------------+
only showing top 20 rows

In [36]:
df_tabela_15.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_15.csv")
df_tabela_16.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_16.csv")
df_tabela_17.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_17.csv")
df_tabela_18.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_18.csv")
df_tabela_19.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_19.csv")
df_tabela_20.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_20.csv")
df_tabela_21.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_21.csv")
df_tabela_22.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_22.csv")
df_tabela_23.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_23.csv")
df_tabela_24.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_24.csv")
df_tabela_25.write.mode("overwrite").option("header", "true").csv("drive/MyDrive/Loocker/Dados Valadares/df_tabela_25.csv")

In [37]:
spark.stop()